{{define "New"}}

{{template "_head"}}
{{template "_menu"}}

<body>
    <div class="conteiner-main">
        <div class="new-edit">
            <form method="POST" action="insert">
                <div class="input-edit-new">
                    <input type="text" name="title" class="form-control" placeholder="Title" autocomplete="off">
                    <span class="foco-input"></span>
                </div>
                <div class="input-edit-new">
                    <input type="text" name="description" class="form-control" placeholder="Description"
                        autocomplete="off">
                    <span class="foco-input"></span>
                </div>
                <button type="submit" value="save" class="btn btn-success">Save</button>
                <a class="btn btn-danger" href="/">Come back</a>
            </form>
        </div>
    </div>
    </div>
</body>
</html>
{{end}}